@CHARSET "ISO-8859-1";

html {
	font-family: "Arial";
	color: black;
	overflow: scroll;
	overflow-x: hidden;
}

.text {
	resize: none;
	row: 3;
	width: 100%;
	float: left;
}

.button {
	float: right;
	color: white;
	background-color: #07263f;
	height: 20px;
	min-width: 70px;
	font-weight: bolder;
	border: solid 1px;
	border-color: #112b63;
	margin: 10px 10px 10px 0px;
	cursor: pointer;
	cursor: hand;
}

input,textarea {
	font-size: 12px;
	font-family: helvetica, sans-serif;
	display: block;
	width: 340px;
}

input[type=submit] {
	display: inline;
	width: auto;
}

input[type=hidden] {
	display: none;
}

a.navi {
	text-decoration: none;
	text-align: center;
	color: #d7d7d7;
	margin: 0px;
	padding: 10px 20px 10px 20px;
}

a.navi:hover {
	color: #ffffff;
	background-color: rgba(250, 250, 250, 0.2);
}

a.title {
	text-decoration: none;
	color: #2e2e2e;
	margin: 0px;
}

a.title:hover {
	color: black;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
}

.bg { /* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

img.main,img.edit {
	float: left;
	border: solid black 1px;
	margin-right: 10px;
}

img.main {
	margin: 10px 100% 10px 10px;
}

label {
	font-weight: bold;
}

fieldset {
	border: 0px;
	margin: 0px;
	padding: 10px 10px 0px 10px;
}

h1 {
	float: right;
	color: white;
   	text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h2 {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
}

h3.header {
	font-size: 23px;
	color: white;
	float: left;
	margin: 0;
	padding: 10px 7% 0px;
}

span.created {
	font-size: 10px;
	float: left;
	color: grey;
	margin-left: 10px;
}

span.date {
	font-size: 10px;
	float: right;
	margin-right: 10px;
}

span#name {
	font-weight: bold;
	padding: 10px;
}

div#comment {
	background-color: rgba(30, 30, 30, 0.5);
	padding-top: 2px;
	padding-bottom: 2px;
}

div.upload {
	height: 130px;
}

div.header {
	float: left;
	width: 100%;
	background-color: rgba(30, 30, 30, 0.5);
	border: solid black 1px;
}

div.navi {
	float: right;
	padding-right: 10%;
}

div.body {
	margin-top: 70px;
	margin-left: 25%;
	margin-right: 25%;
}

div.container {
	float: left;
	width: 100%;
	padding: 10px 10px 3px 10px;
	margin-bottom: 1px;
	background: rgba(30, 30, 30, 0.5);
	border: solid 1px black;
}

div#left.container {
	width: auto;
	padding-left: 0px;
	position: fixed;
	left: 7.8%;
	top: 151px;
}

div#right.container {
	position: fixed;
	right: 0;
	top: 151px;
	width: 150px;
	padding-bottom: 10px;
}

div#right img {
	float: left;
	width: 40px;
	height: 40px;
}

a.link {
	float: left;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	display: block;
	padding: 12px 10px 25px 12px;
}

div#left a.link {
	float: none;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
}

div.wrap {
	position: absolute;
	width: 100%;
	padding-bottom: 19px;
}

div.entry,div.pagelegend {
	float: left;
	width: 100%;
	padding-left: 0px;
	margin-bottom: 10px;
	font-size: 12px;
	border: solid 1px black;
	background: rgba(255, 255, 255, 0.8);
}

div#left.entry {
	overflow: hidden;
	white-space: nowrap;
	background: none;
	border: none;
	color: white;
}

div.pagelegend {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

div.pagelegend>a {
	color: grey;
	text-decoration: none;
	padding-right: 5px;
}

div.pagelegend>a#current {
	color: black;
}

p {
	margin-bottom: 0px;
	margin-left: 10px;
	padding-right: 10px;
}

p#about {
	padding: 40px 20px;
	background: rgba(255, 255, 255, 0.9);
	border: solid 1px black;
	margin: 0px;
	font-size: 12px;
}

p.entry {
	margin-left: 10px;
	margin-bottom: 10px;
}

ul.navi {
	list-style-type: none;
	float: right;
	margin: 0px;
	border: 0px;
}

ol#left {
	padding-left: 30px;
}

ol#left>li {
	padding-bottom: 10px;
}

li.navi {
	float: left;
	color: #ccd6e5;
	padding: 10px 0px 0px;
	margin: 0px;
	border: 0px;
}