@CHARSET "ISO-8859-1";

html {
	font-family: "Arial";
	color: black;
}

.text {
	resize: none;
	row: 3;
	width: 100%;
	float: left;
}

.button {
	float: right;
	color: white;
	background-color: #3b5998;
	height: 25px;
	width: 80px;
	font-weight: bolder;
	border: solid 1px;
	border-color: #112b63;
	margin: 10px 10px 10px 0px;
	cursor: pointer;
	cursor: hand;
	padding-bottom: 5px;
}

a.edit {
	display: block;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	color: black;
	float: right;
	text-decoration: none;
	text-align: center;
	font-weight: bolder;
}

a.navi {
	text-decoration: none;
	text-align: center;
	color: #ccd6e5;
	margin: 0px;
	padding: 5px 10px 10px 10px;
}

a.navi:hover {
	color: #ffffff;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
	background-color: black;
}

.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

img.main,img.edit {
	float: left;
	border: solid black 1px;
	margin-right: 10px;
}

img.main {
	margin: 10px 100% 10px 10px;
}

label {
	font-weight: bold;
}

fieldset {
	border: 0px;
}

h1 {
	float: right;
	opacity: 1;
	color: white;
}

h2 {
	padding-left: 10px;
	margin-bottom: 0px;
}

h3.header {
	font-size: 23px;
	color: white;
	float: left;
	margin: 0;
	padding: 10px 7% 2px;
}

span.created {
	font-size: 10px;
	float: left;
	color: grey;
	margin-left: 10px;
}

div.upload {
	height: 130px;
}

div.header {
	float: left;
	width: 100%;
	background-color: rgba(30,30,30,0.5);
	border:solid black 1px;
}

div.navi {
	float: right;
	padding-right: 10%;
}

div.body {
	margin-top: 70px;
	margin-left: 25%;
	margin-right: 25%;
}

div.container {
	float: left;
	width: 100%;
	padding: 10px 10px 3px 10px;
	margin-bottom: 20px;
	background: rgba(30, 30, 30, 0.5);
	border: solid 1px black;
}

div.h1 {
	float: right;
	background-color: none;
}

div.entry,div.pagelegend {
	float: left;
	width: 100%;
	padding-left: 0px;
	margin-bottom: 10px;
	font-size: 12px;
	border: solid 1px black;
	background: rgba(255, 255, 255, 0.8);
}
div.pagelegend {
	font-size: 15px;
	font-weight:bold;
	text-align:center;
}
div.pagelegend > a {
	color:grey;
	text-decoration: none;
	padding-right:5px;
}
div.pagelegend > a#current {
	color:black;
}
p {
	margin-bottom: 0px;
	margin-left: 10px;
	padding-right: 10px;
}

p#about {
	padding: 40px 20px;
	background: rgba(255, 255, 255, 0.9);
	border: solid 1px black;
	margin: 0px;
	font-size: 12px;
}

p.entry {
	margin-left: 10px;
}

ul.navi {
	list-style-type: none;
	float: right;
	margin: 0px;
	border: 0px;
}

li.navi {
	float: left;
	color: #ccd6e5;
	padding: 10px 0px 0px;
	margin: 0px;
	border: 0px;
}