@CHARSET "ISO-8859-1";
html{
	font-family:"Arial";
	
}
.text {
	resize:none;
	row:3;
	width:100%;
	float:left;	
}
.button {
	float:right;
	color:white;
	background-color:#3b5998;
	height:25px;
	width:80px;	
	font-weight:bolder;
	border:solid 1px;
	border-color:#112b63;
	margin-top:5px;
	cursor:pointer;
	cursor:hand;
}
.dbutton {
	float:right;
	font-weight:bolder;
	border:none;
	
	background-color:white;
	padding: 0px 10px 0px 10px;
	margin:0px;
	cursor:pointer;
	cursor:hand;
	font-size:12px;
	font-family:"Arial"
}
a.edit{
	display: block;
	padding: 0px 10px 0px 10px;
	margin:0px;
	color:black;
	float: right;
	text-decoration: none;
	text-align:center;
	font-weight:bolder;
}
a.navi {
	text-decoration: none;
	text-align:center;
	color: #ccd6e5;
	margin:0px;
	padding:5px 10px 10px 10px;
}
a.navi:hover {
	background-color:#4b67a1;
	color: #ffffff;
}
body {
	border:0;
	padding:0;
	margin:0;
}
h1{
	float:left;
}
h3.header{
	font-size:23px;
	color: white;
	float:left;
	margin:0;
	padding: 10px 7% 2px;
}
span.created{
	font-size:10px;
	float:left;
	color:grey;
}
div.header{
	float: left;
	width:100%;	
	background-color:#3b5998;
}
div.navi{
	float: right;
	padding-right:10%;
}
div.body{
	padding-top:5%;
}
div.container{
	float:left;
	width:50%;
	padding-left:25%;	
}
div.entry{
	float:left;
	width:100%;	
	padding:0px;
	margin:5px 0px;
	font-size:12px;
	border:solid 1px grey;
}
p{margin-bottom:0px;
	padding-left:5px;}

ul.navi {
	list-style-type: none;
	float:right;
	margin:0px;
	border:0px;
}
li.navi {
	float:left;	
	color: #ccd6e5;
	padding:10px 0px 0px;
	margin:0px;
	border:0px;
	
}

